<h3>Contador</h3>
<h4>{{ contador }}</h4>

<div class="row">
    <div class="col">
        <button (click)="multiplicar()" class="btn btn-warning">Multiplicar</button>
        <button (click)="dividir()" class="btn btn-primary">Dividir</button>
    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col">
        <app-nieto [contador]="contador" (contadorCambio)="resetNieto($event)"></app-nieto>
    </div>
</div>