<div class="row text-center">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{ contador }}</h2>
  </div>
</div>
<div class="row text-centern">
  <div class="col text-center">
    <button class="btn btn-danger" (click)="decrementar()">Decrementar</button>
    <button class="btn btn-success" (click)="incrementar()">Incrementar</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-hijo [contador]="contador" (cambioContador)="contador = $event"></app-hijo>
  </div>
</div>

